# SPDX-License-Identifier: GPL-3.0-only
# This file is part of Lazuli.
# Copyright (c) 2016-2020, Remi Andruccioli <remi.andruccioli@gmail.com>

doxygen_output/
build/*
_build/

# Uncomment the next line to keep track of CMake cache in your repository. This
# is usefull when working on a team project to keep the same configuration for
# all the team. WARNING: Only works if you're using the Lazuli Docker image.
# !*/CMakeCache.txt
